<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
	<body>
	  	<div class="wrapper">
			   
			            <div class="email_body">
			                <h1 class="text-center">Hello <%= @work_anniversary_person %></h1>
			            </div>
			            <p>
	      					Congratulations . You have completed one more year here.
	    				</p>
		</div>
	</body>
</html>