<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
	<body>
	  	<div class="wrapper">
			   
			            <div class="email_body">
			                <h1 class="text-center">Hello <%= @name %></h1>
			            </div>
			            <p>
	      					Your request has been <%= @message %>
	    				</p>
		</div>
	</body>
</html>