body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 84%;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


body {
  padding-top: 20px;
}

.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 47%;
    border-top: 1px solid #eee;
  }

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}



.navbar {
  background-image: linear-gradient(to bottom, #f1e8e8 0%, #cac2c2 100%);
  border: 1px solid #e5e5e5;
  text-align: center!important;
}

.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-top: 8px;
    overflow: visible !important;
  }
.nav-link{
  color: rgba(0,0,0,.5);
  text-decoration: none !important;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(0,0,0,.9);
}

.alert-success hr {
  border-top-color: #c9e2b3;
}
/* line 11, /usr/local/rvm/gems/ruby-2.2.2/gems/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/mixins/_alerts.scss */
.alert-success .alert-link {
  color: #2b542c;
}

/* line 63, /usr/local/rvm/gems/ruby-2.2.2/gems/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/_alerts.scss */
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}
/* line 8, /usr/local/rvm/gems/ruby-2.2.2/gems/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/mixins/_alerts.scss */
.alert-info hr {
  border-top-color: #a6e1ec;
}
/* line 11, /usr/local/rvm/gems/ruby-2.2.2/gems/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/mixins/_alerts.scss */
.alert-info .alert-link {
  color: #245269;
}

/* line 67, /usr/local/rvm/gems/ruby-2.2.2/gems/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/_alerts.scss */
.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}
/* line 8, /usr/local/rvm/gems/ruby-2.2.2/gems/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/mixins/_alerts.scss */
.alert-warning hr {
  border-top-color: #f7e1b5;
}
/* line 11, /usr/local/rvm/gems/ruby-2.2.2/gems/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/mixins/_alerts.scss */
.alert-warning .alert-link {
  color: #66512c;
}

/* line 71, /usr/local/rvm/gems/ruby-2.2.2/gems/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/_alerts.scss */
.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
/* line 8, /usr/local/rvm/gems/ruby-2.2.2/gems/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/mixins/_alerts.scss */
.alert-danger hr {
  border-top-color: #e4b9c0;
}
/* line 11, /usr/local/rvm/gems/ruby-2.2.2/gems/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/mixins/_alerts.scss */
.alert-danger .alert-link {
  color: #843534;
}

.alert-notice {
  background-color: #c9e2b3;
  border-color: #c9e2b3;
  color: #31708f;
}
/* line 8, /usr/local/rvm/gems/ruby-2.2.2/gems/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/mixins/_alerts.scss */
.alert-notice hr {
  border-top-color: #a6e1ec;
}
/* line 11, /usr/local/rvm/gems/ruby-2.2.2/gems/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/mixins/_alerts.scss */
.alert-notice .alert-link {
  color: #245269;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
/* line 8, /usr/local/rvm/gems/ruby-2.2.2/gems/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/mixins/_alerts.scss */
.alert-alert hr {
  border-top-color: #e4b9c0;
}
/* line 11, /usr/local/rvm/gems/ruby-2.2.2/gems/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/mixins/_alerts.scss */
.alert-alert .alert-link {
  color: #843534;
}


#profile_pic {
  position: relative;
  background-color: #F0F0F0;
  border: none;
  font-size: 19px;
  padding: 14px;
  width: 32%;
  margin-left: 73%;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}


div.form-group .sr-only {
    position: relative;
    width: auto !important; 
    height: 0px !important;
    margin: 0px !important;
    padding: 0 !important;
    overflow: visible !important; 
    clip: rect(0, 0, 0, 0) !important;
    border: 0 !important;
}

@media (min-width: 768px) {
  .navbar-nav {
    display: -ms-flexbox;
    display: flex;
  }

  .navbar-nav .nav-item {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}