<header class="masthead">
  <h3 class="text-muted">Employee Portal</h3>
  <nav class="navbar navbar-expand-md navbar-light bg-light rounded mb-3">
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav text-md-center nav-justified w-100">
        <li class="nav-item">
          <%= link_to 'Edit Account', edit_employee_registration_path ,:class => "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'My Leaves', employee_leaves_histories_path(current_employee),:class => "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "LOG OUT", destroy_employee_session_path, method: :delete,:class => "nav-link" %>
        </li>
      </ul>
    </div>
  </nav>
</header>
